.header {
    display: flex;
    align-items: center;
    min-height: 72px;
    width: 100%;
    background: rgba(16, 14, 25, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 137px;
}

.logo img {
    width: 100%;
}

.header-input-container {
    max-width: 424px;
    width: 424px;
}

.catalog {
    margin-top: 72px;
}

.footer {
    width: 100%;
    min-height: 72px;
    background: rgba(16, 14, 25, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.footer-text {
    opacity: 0.65;
    font-size: 14px;
}

@media (max-width: 736px) {
    .header {
        min-height: 64px;
    }
    .logo {
        display: none;
    }
    .header-input-container {
        max-width: 736px;
        width: 100%;
    }
    .catalog {
        margin-top: 64px;
    }
    .footer {
        min-height: 64px;
    }
    .footer-text {
        font-size: 12px;
    }
}